Circuiteiro
Circuito/*.PWI
Circuito/DBK.PWI
Monitor
Firmware/*.asm
Firmware/*.cfg
Firmware/*.ini
Firmware/*dbg
Firmware/*.mcppi
Firmware/*.mcpigroup
Firmware/*.dic
Firmware/*.dlc
Firmware/*.bmk
Firmware/*.brk
Firmware/*.dlt
Firmware/*.log
Firmware/*.txt
Firmware/*.cp
Firmware/*.lst
Firmware/*.mcl
Firmware/*.lst
